{% extends 'layout.html' %}

{% block title %}New Content | Admin | {{ super() }}{% endblock %}

{% block admin_main %}
{% if category.name in ["Modules", "Tags"] %}
<div class="container">
	<form method="POST" action="{{ url_for('save_item') }}">
		<div class="row pt-4 pb-4">
			<div class="col-6">
				<h2>{{ category.formtitle }}</h2>
			</div>
			<div class="col-6 alignr custom-control custom-checkbox">
				<button type="submit" class="btn btn-outline-primary" title="Save Item"><i class="fas fa-save"></i>&nbsp; SAVE</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<input id="type" type="hidden" name="type" value="{{ category.name }}" />
				<label for="name"><small>Name</small></label>
				<input id="name" type="text" name="name" class="form-control mb-2">
				<label for="title"><small>Title</small></label>
				<input id="title" type="text" name="title" class="form-control mb-2">
				<label for="link"><small>Link</small></label>
				<input id="link" type="text" name="link" class="form-control mb-2">
			</div>
		</div>
	</form>
</div>
{% elif category.name == "Rules" %}
<div class="container">
	<form id="discord_form" method="POST" action="{{ url_for('rules.save_rule') }}">
		<div class="row pt-4 pb-4">
			<div class="col-6">
				<h2>{{ category.formtitle }}</h2>
			</div>
			<div class="col-6 alignr custom-control custom-checkbox">
				<button class="btn btn-outline-primary" title="Save Item" onclick="submitForm()"><i class="fas fa-save"></i>&nbsp; SAVE</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<input id="type" type="hidden" name="type" value="{{ category.name }}" />
				<label for="message_type"><small>Type</small></label>
				<select id="message_type" type="text" name="message_type" class="form-control mb-2">
					<option value="RULE" selected>Rule</option>
					<option value="TIP">Tip</option>
					<option value="HELP">Help</option>
				</select>
				<label for="title"><small>Title</small></label>
				<input id="title" type="text" name="title" class="form-control mb-2">
				<label for="author"><small>Author</small></label>
				<input id="author" type="text" name="author" class="form-control mb-2">
				<label for="label"><small>Labels</small></label>
				<input id="label" type="text" name="label" class="form-control mb-2">
				<input id="discord" type="hidden" name="message" />
				<label for="discord_field"><small>Message</small></label>
				<div id="toolbar"></div>
				<div contenteditable="true" class="richtext-small form-control" id="discord_field" name="discord_field"></div>
			</div>
		</div>
	</form>
</div>
{% else %}
<div id="toolbar1" class="toolbar-container"></div>
<div id="toolbar2" class="toolbar-container hide"></div>
<div class="container">
	<form method="POST" action="{{ url_for('save_article') }}">
		<div class="row pt-4 pb-4">
			<div class="col-6">
				<h2>{{ category.formtitle }}</h2>
			</div>
			<div class="col-6 alignr custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input mt-2" id="draft" name="draft">
				<label class="custom-control-label mt-2 mr-2" for="draft">Publish live</label>
				<button class="btn btn-outline-primary" title="Save Article" onclick="submitForm()"><i class="fas fa-save"></i>&nbsp; SAVE</button>
			</div>
		</div>
		<div class="row">
			<div class="col-10 mb-4">
				<input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<input id="cat_id" type="hidden" name="cat_id" value="{{ category.id }}" />
				<input id="cat_link" type="hidden" name="cat_link" value="{{ category.link }}" />
				<input id="link" type="hidden" name="link" />
				<label for="title"><small>Title</small></label>
				<input id="title" type="text" name="title" class="form-control mb-2">
				<input id="summary" type="hidden" name="summary" />
				<label for="summary_field"><small>Summary</small></label>
				<div contenteditable="true" class="richtext-small form-control" id="summary_field" name="summary_field" onkeyup="trackEditor(this)" onmouseup="trackEditor(this)"></div>
				<input id="content" type="hidden" name="content" />
				<label for="content_field" class="mt-2"><small>Content</small></label>
				<div contenteditable="true" class="richtext form-control" id="content_field" name="content_field" onkeyup="trackEditor(this)" onmouseup="trackEditor(this)"></div>
			</div>
			<div class="col-2">
				<label><small>Modules</small></label>
				<div id="checkboxes_modules">
					{% for module in modules %}
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="module_{{ module.id }}" name="module_{{ module.id }}">
						<label class="custom-control-label" for="module_{{ module.id }}">{{ module.name }}</label>
					</div>
					{% endfor %}
				</div>
				<hr>
				<label><small>Tags</small></label>
				<div id="checkboxes_tags">
					{% for tag in tags %}
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="tag_{{ tag.id }}" name="tag_{{ tag.id }}">
						<label class="custom-control-label" for="tag_{{ tag.id }}">{{ tag.name }}</label>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</form>
</div>
{% endif %}
{% endblock %}

{% block scripts_bottom %}
<script type="text/javascript" src="/static/ckeditor5/build/ckeditor.js"></script>
{% if category.name == "Rules" %}
<script type="text/javascript" src="/static/js/discord_editor.js"></script>
{% else %}
<script type="text/javascript" src="/static/js/richtext.js"></script>
{% endif %}
{% endblock %}