{% extends 'layout.html' %}

{% block title %}Edit Category | Admin | {{ super() }}{% endblock %}

{% block admin_main %}
<div class="container">
	<form method="POST" action="{{ url_for('save_category') }}">
		<input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		<div class="row pt-4 pb-4">
			<div class="col-6">
				<h2>Edit Category <small class="text-muted smalltext">&nbsp;&nbsp;<a class="delete-link" href="/admin/delete_category/{{ category.id }}" title="Delete {{ category.name }}"><i class="far fa-trash-alt"></i>&nbsp; Delete</a></small></h2>
			</div>
			<div class="col-6 alignr custom-control custom-checkbox">
				<button type="submit" class="btn btn-outline-primary" title="Save Category"><i class="fas fa-save"></i>&nbsp; SAVE</button>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<label for="title"><small>Title</small></label>
				<input id="title" type="text" name="title" class="form-control mb-2" value="{{ category.name }}">
				<label for="link"><small>Link</small></label>
				<input id="link" type="text" name="link" class="form-control mb-2" value="{{ category.link }}">
			</div>
			<div class="col-6">
				<label for="buttonlabel"><small>Button Label</small></label>
				<input id="buttonlabel" type="text" name="buttonlabel" class="form-control mb-2" value="{{ category.buttonlabel }}">
				<label for="formtitle"><small>Form Title</small></label>
				<input id="formtitle" type="text" name="formtitle" class="form-control mb-2" value="{{ category.formtitle }}">
			</div>
			<div class="col-12">
				<label for="editor"><small>Content</small></label>
				<textarea id="content" name="content">{{ category.description|safe }}</textarea>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block scripts_bottom %}
<script type="text/javascript" src="/static/js/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#content').summernote({
			toolbar: [
				['style', ['style']],
				['font', ['bold', 'underline', 'italic', 'clear']],
				['fontname', ['fontname', 'fontsize']],
				['color', ['color']],
				['para', ['ul', 'ol', 'paragraph']],
				['table', ['table']],
				['insert', ['link', 'picture', 'video']],
				['view', ['codeview', 'help']],
			]
		});
	});
</script>
{% endblock %}