{% extends 'layout.html' %}

{% block title %}Edit Content | Admin | {{ super() }}{% endblock %}

{% block admin_main %}
<div id="toolbar1" class="toolbar-container"></div>
<div id="toolbar2" class="toolbar-container hide"></div>
<div class="container" onload="editMode()">
	<form id="article_form" method="POST" action="{{ url_for('save_article') }}">
		<div class="row pt-4 pb-4">
			<div class="col-6">
				<h2 class="ib">Edit Content <small class="text-muted smalltext">&nbsp;&nbsp;<a class="delete-link" href="/admin/delete_article/{{ article.category.link }}/{{ article.id }}" title="Delete this article"><i class="far fa-trash-alt"></i>&nbsp; Delete</a></small></h2>
			</div>
			<div class="col-6 alignr custom-control custom-checkbox">
				<input type="checkbox" class="custom-control-input mt-2" id="draft" name="draft" {% if article.draft == 0 %}checked{% endif %}>
				<label class="custom-control-label mt-2 mr-2" for="draft">Publish live</label>
				<a href="/{{ article.category.link }}/{{ article.link }}" target="new" class="btn btn-outline-primary" title="Preview draft in new tab"><i class="far fa-eye"></i>&nbsp; Preview</a>
				<button class="btn btn-primary" title="Save Article" onclick="submitForm()"><i class="fas fa-save"></i>&nbsp; UPDATE</button>
			</div>
		</div>
		<div class="row">
			<div class="col-10">
				<input id="csrf_token" type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
				<input id="cat_id" type="hidden" name="cat_id" value="{{ article.category_id }}" />
				<input id="cat_link" type="hidden" name="cat_link" value="{{ article.category.link }}" />
				<input id="link" type="hidden" name="link" value="{{ article.link }}" />
				<label for="title"><small>Title</small></label>
				<input id="title" type="text" name="title" class="form-control mb-2" value="{{ article.title }}">
				<input id="summary" type="hidden" name="summary" />
				<label for="summary_field"><small>Summary</small></label>
				<div contenteditable="true" class="richtext-small form-control" id="summary_field" name="summary_field" onkeyup="trackEditor(this)" onmouseup="trackEditor(this)">{{ article.summary|safe }}</div>
				<input id="content" type="hidden" name="content" />
				<label for="content_field" class="mt-2"><small>Content</small></label>
				<div contenteditable="true" class="richtext form-control" id="content_field" name="content_field" onkeyup="trackEditor(this)" onmouseup="trackEditor(this)">{{ article.content|safe }}</div>
			</div>
			<div class="col-2">
				<label><small>Modules</small></label>
				<div id="checkboxes_modules">
					{% for module in modules %}
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="module_{{ module.id }}" name="module_{{ module.id }}" {% for a_module in article.modules %}{% if module.id == a_module.id %}checked{% endif %}{% endfor %}>
						<label class="custom-control-label" for="module_{{ module.id }}">{{ module.name }}</label>
					</div>
					{% endfor %}
				</div>
				<hr>
				<label><small>Tags</small></label>
				<div id="checkboxes_tags">
					{% for tag in tags %}
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input" id="tag_{{ tag.id }}" name="tag_{{ tag.id }}" {% for a_tag in article.tags %}{% if tag.id == a_tag.id %}checked{% endif %}{% endfor %}>
						<label class="custom-control-label" for="tag_{{ tag.id }}">{{ tag.name }}</label>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}

{% block scripts_bottom %}
<script type="text/javascript" src="/static/ckeditor5/build/ckeditor.js"></script>
<script type="text/javascript" src="/static/js/richtext.js"></script>
{% endblock %}