<a href="/" class="logo" title="Beginnerpy Home">
	<div>
		<div class="centerh">
			<img class="home-logo-img" src="/static/img/image.jpg">
		</div>
		<div class="centerh home-logo-text">
			<p>BEGINNER PYTHON</p>
		</div>
	</div>
</a>
<ul class="nav flex-column">
	{% if current_user.is_admin and property == "admin" %}
		{% for category in sidenav %}
			<li class="nav-item">
				<a class="nav-link {% if category.active == False %}red{% endif %}" href="/admin/category/{{ category.link }}">{{ category.name }}</a>
			</li>
		{% endfor %}
		<li class="nav-item dropright">
			<a class="nav-link dropdown-toggle red" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Discord Bot</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Rules</a>
				<a class="dropdown-item" href="#">User Scores</a>
			</div>
		</li>
	{% elif current_user.is_anonymous or property == "front" %}
		{% for category in sidenav %}
			{% if category.active %}
			<li class="nav-item">
				<a class="nav-link" href="{{ url_for('category', category_link=category.link)  }}">{{ category.name }}</a>
			</li>
			{% endif %}
		{% endfor %}
	{% endif %}
</ul>